<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <p [class]="classCss">Texto aleatório</p><!-- para ele 'olhar' para uma propriedade no ts -->
      <div class="vermelho"></div>
      <div class="azul"></div>
      <button type="button" (click)="trocarClasse()">Mudar</button>
    </div>
  </body>
</html>
