<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <input type="number" name="#" [(ngModel)]="num1"><br>
    <input type="number" name="#" [(ngModel)]="num2" ><br>

    <div *ngIf="num1 && num2">
      <button type="button" (click)="sum()">+</button>
      <button type="button" (click)="sub()">-</button>
      <button type="button" (click)="mult()">*</button>
      <button type="button" (click)="div()">/</button>
      <div>
        Resultado {{resultado}}
      </div>
    </div>
  </div>
</body>
</html>
<!-- ngFor - p/ repetição
instrui o angular a repetir
let item of array e cada item do array vira uma cópia HTML




-->
