<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <img [src]="raca" alt="">
    <button type="button" (click)="mostrarRaca('assets/chiuaua.jpg')">Chiuaua</button>
    <button type="button" (click)="mostrarRaca('assets/golden.jpg')">Golden</button>
    <button type="button" (click)="mostrarRaca('assets/pitbull.jpg')">Pitbull</button>
  </div>
</body>
</html>
