<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div [class]="classeCss" (mouseenter)="trocarClasse('mouseON')" (mouseleave)="trocarClasse('mouseOFF')">
        Div
      </div><!-- o property binding e útil quando ocorre o uso da DOM, isto é precisa mudar dinâmicamente -->
    </div>
  </body>
</html>
