<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <button type="button" (click)="mudarTexto('MUDOU PARA 1')" [class]="btn">TEXTO1!</button>
        <button type="button" (click)="mudarTexto('MUDOU PARA 2')" [class]="btn">TEXTO2!</button>
        <button type="button" (click)="mudarTexto('MUDOU PARA 3')" [class]="btn">TEXTO3!</button>
        <h1>{{ texto }}</h1>
    </div>
  </body>
</html>
