<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <mat-toolbar color="primary"><!-- possui coisas do material, importar toolbar -->
      <mat-toolbar-row>
        <button mat-icon-button><!-- importar botão -->
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Gestor de clientes</h1>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container><!-- fica o conteudo da página -->
      <mat-sidenav mode="push" [opened]="true">
        <mat-list>
          <a routerLink="/cliente" mat-list-item><!-- router link -->
            Gestor Clientes
          </a>
        </mat-list><!-- aceita listas -->
      </mat-sidenav><!-- navbar lateral -->
      <mat-sidenav-content style="min-height: calc(100vh - 64px);"><!-- tam min vai ser a tela menos o tam da barra -->
        <router-outlet></router-outlet><!-- página toda aqui -->
      </mat-sidenav-content><!-- conteúdo aqui -->
    </mat-sidenav-container>
  </div>
  <!-- criar a aplicação aqui -->
<!-- possui padrões -->
</body>
</html>
<!-- necessário jogar o componente e carregar os elemntos -->
