<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <label for="nm">Nome</label>
    <input type="text" name="" id="nm"><br>

    <label for="tl">Tel</label>
    <input type="tel" name="" id="tl"><br>

    <label for="em">Email</label>
    <input type="email" name="" id="em">

  
    <label for="nmC">Para tel</label>
    <input type="checkbox" name="" id="nmC"><br>

    <label for="wpC">Para wp</label>
    <input type="checkbox" name="" id="wpC"><br>

    <label for="emC">Para email</label>
    <input type="checkbox" name="" id="emC">

    <button type="button"></button>
  </div>
</body>
</html>
