<!DOCTYPE html>
  <html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <img [src]="img" alt=""><!-- atributo que fazer -->
      <button type="button" (click)="trocarCao('assets/raca1.jpg')">RAÇA 1</button>
      <button type="button" (click)="trocarCao('assets/raca2.jpg')">RAÇA 2</button>
      <button type="button" (click)="trocarCao('assets/raca3.jpg')">RAÇA 3</button>
      <h1>Clique nos botões para abrir uma imagem</h1>
    </div>
  </body>
</html>
