<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogos</title>
</head>
<body>
  <div class="container" style="padding:0; margin:0; box-sizing: border-box;">
    <h1>Gestor de Jogos</h1><!-- clicar no item e aparecer qual item foi clicado -->
    <ul>
      <li *ngFor="let jogo of jogos" style="list-style: none; font-size: x-large; font-family: Arial, Helvetica, sans-serif;">
        <span (click)="selecionarJogo(jogo)">{{jogo.nome}} ({{jogo.plataforma}});</span>
        <span (click)="excluir(jogo.id)">X</span><!-- ao clicar aqui remove um item -->
      </li>
    </ul>
    <!-- campos para editar os valores  -->

    <div class="result" *ngIf="jogoSelecionado"><!-- fica protegida caso não tenha jogo, senão aparece -->
      <input type="text" name="#" id="#" [(ngModel)]="jogoSelecionado.nome"><br><!-- mostra o nome do jogo selecionado -->

      <select name="#" id="#" [(ngModel)]="jogoSelecionado.status"><!-- possível status do jogo -->
        <option value="na" label="Não informado"></option>
        <option value="q" label="Quero"></option>
        <option value="t" label="Tenho"></option>
        <option value="j" label="Jogando"></option>
        <option value="z" label="Zerado"></option>
      </select><br>

      <input type="text" name="#" id="#" [(ngModel)]="jogoSelecionado.plataforma"><br>
      <input type="text" name="#" id="#" [(ngModel)]="jogoSelecionado.genero">

      <button type="button" (click)="salvar()">Salvar</button><!-- ao clicar aqui chama a função -->
      <button type="button" (click)="cancelar()">Cancelar</button>
    </div>
    <button type="button" (click)="novo()">Novo</button>
  </div>
</body>
</html>
