<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>IF</h1>
    <h1>E1</h1>
    <app-exemplo-ng-if></app-exemplo-ng-if>
    <h1>E2</h1>
    <app-exemplo2-ng-if></app-exemplo2-ng-if>
    <h1>E3</h1>
    <app-exemplo3-ng-if></app-exemplo3-ng-if>
    <h1>E4</h1>
    <app-exemplo4-ng-if></app-exemplo4-ng-if>
    <h1>FOR</h1>
    <h1>E1</h1>
    <app-exemplo1-ng-for></app-exemplo1-ng-for>
    <h1>E2</h1>
    <app-exemplo2-ng-for></app-exemplo2-ng-for>
    <h1>E3</h1>
    <app-exemplo3-ng-for></app-exemplo3-ng-for>
    <!-- //// -->
    <h1>E4</h1>
    <app-exemplo4-ng-for></app-exemplo4-ng-for>
    <h1>E5</h1>
    <app-exemplo5-ng-for></app-exemplo5-ng-for>
  </div>
</body>
</html>
