<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <h1>T1</h1>
        <app-t1></app-t1><hr>
        <h1>T2</h1>
        <app-t2></app-t2><hr>
        <h1>T3</h1>
        <app-t3></app-t3><hr>
        <h1>T4</h1>
        <app-t4></app-t4><hr>
        <h1>T5</h1>
        <app-t5></app-t5><hr>
        <h1>T6</h1>
        <app-t6></app-t6><hr>
        <h1>T7</h1>
        <app-t7></app-t7><hr>
        <h1>T8</h1>
        <app-t8></app-t8><hr>
        <h1>T9</h1>
        <app-t9></app-t9><hr>
        <h1>T10</h1>
        <app-t10></app-t10><hr>
      <!-- exercicios em sala
        <app-e1></app-e1>
        <app-e2></app-e2>
        <app-e3></app-e3>
        <app-e4></app-e4>
      -->
    </div>
  </body>
</html>
