<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <!-- <h1>E1</h1>
    <app-exemplo-ng-switch></app-exemplo-ng-switch>
    <h1>E2</h1>
    <app-exemplo2-ng-switch></app-exemplo2-ng-switch> -->

    <h1>E3</h1>
    <select name="" id="#" [ngSwitch]="val">
      <option value="E1" *ngSwitchCase="'Exemplo-1'">Exemplo 1 de Ng If</option>
      <option value=""></option>
    </select>
  </div>
</body>
</html>
